<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="endTurn()">
                <ion-icon name="checkmark"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <p class="headlines" (click)="presentOpponentActionsTaken($event)">{{opponents_actions[opponents_actions.length - 1]}}</p>
    <div class="online-players">
        <ol>
            <li *ngFor="let opponent of opponents">
                <div class="profile-pic">
                    <img src="assets/imgs/logo.png" width="55px" height="55px">
                </div>
                <div class="player-name">{{opponent.firstName}}</div>
                <div class="player-worth">${{opponent.value}}M</div>
            </li>
        </ol>
    </div>
    <div class="decks">
        <div class="decks-wrapper">
            <div class="played">
                <img src="{{playedCards[playedCards.length - 1].imageLocation}}" width="65px" height="105px">
            </div>
            <div class="pick-up">
                <img src="assets/imgs/deck_of_cards.png" width="65px" height="105px">
            </div>
        </div>
    </div>
    <div class="active-cards">
        <div class="properties">
            <ul>
                <li *ngFor="let set of mainPlayer.printActiveCards">
                    <img *ngFor="let card of set" src="{{card.imageLocation}}" width="65px" height="105px">
                </li>
            </ul>
        </div>
        <div class="money-cards">
            <ul>
                <li *ngFor="let set of mainPlayer.printMoneyCards">
                    <img *ngFor="let card of set" src="{{card.imageLocation}}" width="65px" height="105px">
                </li>
            </ul>
        </div>
    </div>
    <div class="player-hand">
        <ul>
            <li *ngFor="let card of mainPlayer.hand" (click)="presentCardOptions($event, card)">
                <img src="{{card.imageLocation}}">
            </li>
        </ul>
    </div>

</ion-content>
  